.counter-container {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    line-height: 1;
}

.counter-counter {
    display: inline-flex;
    line-height: 1;
}

.counter-digit {
    position: relative;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    width: 0.65em;
}

.counter-number {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient-container {
    pointer-events: none;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-gradient,
.bottom-gradient {
    width: 100%;
}